<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start" defaultHref="/tabs/characters">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{ character?.name }}</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="unfavouriteCharacter()" *ngIf="isFavouriteCharacter">
				<ion-icon name="heart" slot="icon-only" color="secondary"></ion-icon>
			</ion-button>
			<ion-button (click)="favouriteCharacter()" *ngIf="!isFavouriteCharacter">
				<ion-icon name="heart-outline" slot="icon-only" color="secondary"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content padding>
	<ion-card *ngIf="character" class="movie-card">
		<ion-card-header>Nickname: {{ character.nickname }} </ion-card-header>
		
        <ion-item class="movie-info" lines="none">
			Portrayed by: {{ character.portrayed }}
		</ion-item>
		<ion-item class="movie-info" lines="none">
			Occupation: {{ character.occupation }}
		</ion-item>
		<ion-item class="movie-info" lines="none">
			Date of Birthday: {{ character.birthday }}
		</ion-item>
		<ion-item class="movie-info" lines="none">
			Appearance in season(s): {{ character.appearance }}
		</ion-item>
        <ion-item class="movie-info" lines="none">
			Status: {{ character.status }}
		</ion-item>
	</ion-card>
</ion-content>