<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Deaths</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content padding>
	<ion-card *ngFor="let death of deaths | async " class="movie-card">
		<ion-item>
			<ion-card-header>{{ death.death }}</ion-card-header>
		</ion-item>
		<ion-item class="movie-info" lines="none">
			Occurred in: Episode {{ death.episode }} - Season {{ death.season }}
		</ion-item>
		<ion-item class="movie-info" lines="none">
			Cause: {{ death.cause }}
		</ion-item>
		<ion-item class="movie-info" lines="none">
			Responsible: {{ death.responsible }}
		</ion-item>
		<ion-item class="movie-info" lines="none">
			Number of deaths: {{ death.number_of_deaths }}
		</ion-item>
		<ion-item class="movie-info" lines="none">
			Last words: {{ death.last_words }}
		</ion-item>
	</ion-card>
</ion-content>